/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

#edit-author--2{
    /*hides username and submission info from form to add guestbook comment*/
    display:none;
}

p.submitted{
    /*hides username and submission info from guestbook comments that have already been added*/
    display:none;
}

body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: #00A7C5;
}

a{
    color: #FFC620;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #F5CBF3;
}
